@layout('layouts.app')

@section('meta')

@endsection

@section('title')
	<title>Beranda | KEKINIAN</title>	
@endsection

@section('js')

@endsection

@section('css')
<link rel="stylesheet" href="assets/css/content-index.css">

@endsection

@section('helpers')
{{title('Beranda')}}
@endsection


@section('nav')

@endsection


@section('content')

@endsection