@import './header';
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

a {
    display: inline-block;
}

header {
    width: 100%;
    background-color: #306EE7;
    height: 80px;
    position: fixed;
    top: 0;
    
    .container {
        max-width: 85%;
        margin: 0 auto;
        nav.header {
            width: 100%;
            position: relative;
            overflow: hidden;
            .logo {
                width: unset;
                float: left;
                img {
                    float: left;
                    @include padding-y(27px);
                }
                span {
                    float: left;
                    @include padding-y(28.5px);
                    color: #FFFFFF;
                    font-size: 16px;
                    margin-left: 5px;
                }
            }
            .navbar-list {
                width: unset;
                float: left;
                @include padding(0,0,0,82px);
                ul {
                    display: block;
                    list-style: none;
                    li {
                        float: left;
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5){
                            margin-left: 32px;
                        }

                        a{
                            color: #FFFFFF;
                            font-size: 14px;
                            font-family: Poppins-Regular;
                            text-decoration: none;
                            @include padding-y(29px);
                        }

                        .active {
                            background-color: #2865DC;
                            @include padding-x(5px);
                            color: #FEB22B;
                            border-bottom: 3px solid #FEB22B;
                        }
                    }  
                }
            }

            .nav-icon {
                float: left;
                @include padding(25px,0px,22px,120px);
                

                a {
                    float: left;
                    cursor: pointer;
                    &:nth-child(1) {
                        margin-top: 7px;
                    }
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4){
                        padding-left: 32px;
                    }
                }
            }

            .nav-account {
                float: right;
                cursor: pointer;
                z-index: 111;
                transition: .5s;

                // padding-left: 36px;  
                
                img.profil {
                    float: left;
                    width: 48px;
                    height: 48px;
                    @include padding-y(16px);
                }

                img.dropdown-p {
                    float: left;
                    @include padding-y(36.5px);
                    margin-left: 8px;
                    transition: .3s;


                    &:hover {
                        transform: rotate(180deg);
                        transition: .3s;
                    }
                }
            }
        }

        .popup-account {
            float: right;
            position: relative;;
            // padding-right: 100px;
            margin-top: -15px;
            display: none;
            // @include border-radius(4px);
            .heading {
                position: relative;
                width: unset;
                background-color: #707070;
                @include padding(10px,35px,10px,15px);
                @include border-top-right-radius(4px);
                @include border-top-left-radius(4px);

                span {
                    font-family: Poppins-Medium;
                    font-size: 16px;
                    color: #FFFFFF;
                }
            }

            .body {
                position: relative;
                width: unset;         
                border: 1px solid rgba(0, 0, 0, 0.1);
                @include border-bottom-right-radius(4px);
                @include border-bottom-left-radius(4px);
                // @include padding-x(15px);
                ul {
                    display: block;
                    list-style: none;
                    
                    
                    li {
                        font-family: Poppins-Regular;
                        font-size: 16px;
                        
                        color: rgba(0, 0, 0, 0.8);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        &:nth-child(1),
                         &:nth-child(2),
                         &:nth-child(3),
                         &:nth-child(5){
                            background-color: #FFFFFF;

                            &:hover {
                                background-color: #E6E6E6;;
                            }
                        }
                        span {
                            display: block;
                            @include padding-x(15px);
                            @include padding-y(10px);
                            cursor: pointer;
                            background-color: #FFFFFF;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                            &:hover {
                                background-color: #E6E6E6;;
                            }

                            img {
                                float: right;
                                margin-top: 10px;

                                &:hover {
                                    transform: rotate(180deg);
                                    transition: .5s;
                                }
                            }
                        }

                        a {
                            text-decoration: none;
                            color: rgba(0, 0, 0, 0.8);
                            padding-left: 15px;
                            @include padding-y(10px);

                        }

                        ul.popup-lang {
                            display: none;
                            

                            li {
                                background-color: #E6E6E6;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                // @include padding-x(15px);
                                a {

                                    img {
                                        padding-right: 5px;
                                        margin-top: 2px;
                                        float: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .popup-notif {
            float: right;
            position: relative;;
            margin-right: 105px;
            top: -15px;
            display: none;

            // @include border-radius(4px);
            border: 1px solid rgba(0, 0, 0, 0.1);
            .heading {
                position: relative;
                width: unset;
                background-color: #707070;
                @include padding(10px,35px,10px,15px);
                @include border-top-right-radius(4px);
                @include border-top-left-radius(4px);

                span {
                    font-family: Poppins-Medium;
                    font-size: 16px;
                    color: #FFFFFF;
                }
            }

            .body {
                position: relative;
                width: unset;   
                background-color: #FFFFFF;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                span {
                    @include padding(10px, 15px, 10px,15px);
                    display: block;
                    &:nth-child(1) {
                        font-family: Poppins-Medium;
                        font-size: 18px;
                        color: rgba(0, 0, 0, 0.8);
                    }
                    &:nth-child(2) {
                        font-family: Poppins-Regular;
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.8);
                    }
                }
            }
            .footer {
                position: relative;
                width: unset;   
                background-color: #FFFFFF;
                text-align: center;
                @include padding-y(10px);
                @include border-bottom-right-radius(4px);
                @include border-bottom-left-radius(4px);

                span {
                    color: #306EE7;
                    font-family: Poppins-Medium;
                    font-size: 18px;
                }
            }
        }

        .popup-chat {
            float: right;
            width: 30%;
            top: -15px;
            margin-right: 160px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            display: none;
            position: relative;
            .heading {
                float: left;
                position: relative;
                width: 91.5%;
                background-color: #707070;
                @include padding(10px,15px,10px,15px);
                @include border-top-right-radius(4px);
                @include border-top-left-radius(4px);

                span {
                    font-family: Poppins-Medium;
                    font-size: 16px;
                    color: #FFFFFF;
                }
            }

            .body {
                
                float: left;
                // position: relative;
                width: unset;
                background-color: #FFFFFF;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                @include padding-x(15px);
                // box-sizing: border-box;
                // flex-direction: column;
                .msg {
                    position: relative;
                    width: unset;
                    float: left;
                    // width: unset;
                    // flex: auto;
                    background-color: #FFFFFF;
                    


                    img {
                        float: left;
                        // display: block;
                        @include padding(10px,10px,10px,0);
                    }
                    .txt {
                        float: left;
                        // display: block;
                        @include padding-y(15px);
                        // margin-right: 25px;

                        span {
                            display: block;
                            &:nth-child(1) {
                                font-family: Poppins-Medium;
                                font-size: 18px;
                                color: rgba(0, 0, 0, 0.8);
                            }
                            &:nth-child(2) {
                                font-family: Poppins-Regular;
                                font-size: 14px;
                                color: rgba(0, 0, 0, 0.8);
                            }
                        }
                    }
                    .date {
                        float: left;
                        position: relative;
                        // display: block;
                        @include padding-y(28px);
                        
                        span {
                            font-family: Poppins-Regular;
                            font-size: 14px;
                            color: rgba(0, 0, 0, 0.8);
                        }
                    }
                }
                
                
            }
            .footer {
                width: 100%;
                float: left;
                // position: relative;
                background-color: #FFFFFF;
                text-align: center;
                @include padding-y(10px);
                @include border-bottom-right-radius(4px);
                @include border-bottom-left-radius(4px);

                span {
                    color: #306EE7;
                    font-family: Poppins-Medium;
                    font-size: 18px;   

                }
            }
        }

        .popup-cart {
            float: right;
            width: 28%;
            top: -15px;
            margin-right: 230px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            display: none;
            position: relative;
            .heading {
                float: left;
                position: relative;
                width: 91%;
                background-color: #707070;
                @include padding(10px,15px,10px,15px);
                @include border-top-right-radius(4px);
                @include border-top-left-radius(4px);

                span {
                    font-family: Poppins-Medium;
                    font-size: 16px;
                    color: #FFFFFF;
                }
            }

            .body {
                float: left;
                width: 91%;
                background-color: #FFFFFF;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                @include padding-x(15px);

                .msg {
                    position: relative;
                    width: 100%;
                    float: left;
                    background-color: #FFFFFF;
                    


                    img {
                        float: left;
                        // display: block;
                        @include padding(10px,10px,10px,0);
                    }
                    .txt {
                        float: left;
                        width: 76%;
                        @include padding-y(15px);
                        // margin-right: 25px;

                        span {
                            display: block;
                            &:nth-child(1) {
                                font-family: Poppins-Medium;
                                font-size: 18px;
                                color: rgba(0, 0, 0, 0.8);
                            }
                            &:nth-child(2) {
                                font-family: Poppins-Regular;
                                font-size: 14px;
                                float: left;
                                color: rgba(0, 0, 0, 0.8);
                            }
                            &:nth-child(3) {
                                float: right;
                                font-family: Poppins-Regular;
                                font-size: 14px;
                                color: #306EE7;
                            }
                        }
                    }
                }  
            }
            .footer {
                width: 100%;
                float: left;
                // position: relative;
                background-color: #FFFFFF;
                text-align: center;
                @include padding-y(10px);
                @include border-bottom-right-radius(4px);
                @include border-bottom-left-radius(4px);

                span {
                    color: #306EE7;
                    font-family: Poppins-Medium;
                    font-size: 18px;   

                }
            }
        }
    }
}

