/**
** this for first setup
**/

@import 'function';

/**
** setup fonts
**/


/** 
** raleway
**/


/* Playfair */

@font-face {
    font-family: PlayfairDisplay Medium;
    src: url(".././fonts/PlayfairDisplay-Medium.ttf");
}


/**
/* Poppins */

@font-face {
    font-family: Poppins Regular;
    src: url(".././fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins Medium;
    src: url(".././fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins SemiBold;
    src: url(".././fonts/Poppins-SemiBold.ttf");
}

/* Open Sans */
@font-face {
    font-family: OpenSans Regular;
    src: url(".././fonts/OpenSans-Regular.ttf");
}


/**
** this for setup variable
**/


/* change option color */

:root {
    --primary: #5CAAF4;
    --color-text-berita: #070707;
    --line-and-side: #FDD34C;
    --text-banner: #FFFFFF;
    --buton: #073C64;
    --footer: #073C64;
    --bg-detail-berita-and-forum: #8E8E8E (9%);
    --color-menu-bar: #0A0A0A;
}

.fl- {
    //FLoats
    &left {
        float: left;
    }
    &right {
        float: right;
    }
    &none {
        float: none;
    }
}

@for $i from 10 through 40 {
    //Font sizes
    .f-#{$i} {
        font-size: $i;
    }
}

.d- {
    //Displays
    &none {
        display: none;
    }
    &block {
        display: block;
    }
    &ib {
        display: inline-block;
    }
    &flex {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    &inline {
        display: inline;
    }
    &i-flex {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
    }
}

.w- {
    //Widths
    &5 {
        width: 5%;
    }
    &10 {
        width: 10%;
    }
    &15 {
        width: 15%;
    }
    &20 {
        width: 20%;
    }
    &25 {
        width: 25%;
    }
    &30 {
        width: 30%;
    }
    &35 {
        width: 35%;
    }
    &40 {
        width: 40%;
    }
    &45 {
        width: 45%;
    }
    &50 {
        width: 50%;
    }
    &55 {
        width: 55%;
    }
    &60 {
        width: 60%;
    }
    &65 {
        width: 65%;
    }
    &70 {
        width: 70%;
    }
    &75 {
        width: 75%;
    }
    &80 {
        width: 80%;
    }
    &85 {
        width: 85%;
    }
    &90 {
        width: 90%;
    }
    &95 {
        width: 95%;
    }
    &100 {
        width: 100%;
    }
}

.h- {
    //Heights
    &25 {
        height: 25%;
    }
    &50 {
        height: 50%;
    }
    &75 {
        height: 75%;
    }
    &100 {
        height: 100%;
    }
}

.ov- {
    //Overflows: ;
    &h {
        overflow: hidden;
    }
    &s {
        overflow: scroll;
    }
    &a {
        overflow: auto;
    }
}