<!DOCTYPE html>
<html lang="en">
	<head>
		@include('layouts.head')
		@!section('meta')
		@!section('css')
		@!section('title')

		<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
		<link rel="stylesheet" href="{{ asset('css/slick.css') }}">
		
	</head>
	<body>
		{{-- nav --}}
		<header>
			<div class="container">
				<nav class="header">
					<div class="logo">
						<img src="assets/images/navbar/K logo.png" alt="">
						<span>WarungKita</span>
					</div>
					<div class="navbar-list">
						<ul>
							<li><a href="" class="active">Beranda</a></li>
							<li><a href="">Tentang</a></li>
							<li><a href="">Laman Edukatif</a></li>
							<li><a href="">Galeri Inspiratif</a></li>
							<li><a href="">Toko</a></li>
						</ul>
					</div> 
					<div class="nav-icon">
						<!-- icon search -->
						<a href="search.html">
							<img src="assets/images/navbar/cari.png" alt="">
						</a>
						<!-- icon keranjang -->
						<a href="#cart">
							<img src="assets/images/navbar/Cart.png" class="cart" alt="">
						</a>
						<!-- icon chart -->
						<a href="#chat">
							<img src="assets/images/navbar/Chat.png" class="chat" alt="">
						</a>
						<!-- icon notif -->
						<a href="#notifikasi">
							<img src="assets/images/navbar/Notif.png" class="notif" alt="">
						</a>
					</div>
					<div class="nav-account">
						<img src="assets/images/navbar/fotoprofil.png" class="profil account" alt="">
						<!-- icon dropdown -->
						<img src="assets/images/navbar/dropdown-p.png" class="dropdown-p account" alt="">
						
					</div>
				</nav>
				<!-- popup akun -->
				<div class="popup-account">
					<div class="heading">
						<span>Hello, Nazmi Javier</span>
					</div>
					<div class="body">
						<ul>
							<li><a href="#">Akun Saya</a></li>
							<li><a href="#">Pembelian</a></li>
							<li><a href="#">Wishlist</a></li>
							<li class="lang"><span>Bahasa
								<img src="assets/images/navbar/drop-lang.png" alt="">
								</span>
								<ul class="popup-lang">
									<li><a href="#"><img src="assets/images/navbar/ID.png" alt="">Indonesia</a></li>
									<li><a href="#"><img src="assets/images/navbar/EN.png" alt="">Inggris</a></li>
								</ul>
							</li>
							<li><a href="#">Keluar</a></li>
						</ul>
					</div>
				</div>	

				<!-- popup notif -->	
				<div class="popup-notif">
					<div class="heading">
						<span>Notifikasi</span>
					</div>
					<div class="body">
						<span>WarungKita</span>
						<span>Terimakasih telah bergabung Bersama k...</span>
					</div>
					<div class="footer">
						<span>Lihat Selengkapnya</span>
					</div>
				</div>

				<!-- popup chat -->	
				<div class="popup-chat">
					<div class="heading">
						<span>Pesan Anda</span>
					</div>
					<div class="body">
						<div class="msg">
							<img src="assets/images/navbar/wk-chat.png" alt="">
							<div class="txt">
								<span>WarugKita</span>
								<span>Terimakasih.</span>
							</div>
							<div class="date">
								<span>Agt, 14 2020</span>
							</div>
						</div>
						<div class="msg">
							<img src="assets/images/navbar/dany-chat.png" alt="">
							<div class="txt">
								<span>Pak Dany</span>
								<span>Siap akan saya kirim.</span>
							</div>
							<div class="date">
								<span>Agt, 14 2020</span>
							</div>
						</div>
						<div class="msg">
							<img src="assets/images/navbar/dede-chat.png" alt="">
							<div class="txt">
								<span>Dede Sunarwan</span>
								<span>Barang habis dek.</span>
							</div>
							<div class="date">
								<span>Agt, 14 2020</span>
							</div>
							
						</div>
					</div>
					<div class="footer">
						<span>Lihat Selengkapnya</span>
					</div>
				</div>

				<!-- popup cart -->	
				<div class="popup-cart">
					<div class="heading">
						<span>Keranjang</span>
					</div>
					<div class="body">
						<div class="msg">
							<img src="assets/images/kaktus.jpg" alt="">
							<div class="txt">
								<span>Tanaman Hias Kaktus</span>
								<span>1 Barang</span>
								<span>Hapus</span>
							</div>
						</div>
					</div>
					<div class="footer">
						<span>Check Out</span>
					</div>
				</div>
			</div>
		</header>
		{{-- end nav --}}

		

		@!section('content')

		<!-- footer -->
		<footer>
			<div class="container">
				<div class="area">
					<div class="desc">
						<div class="logo">
							<img src="assets/images/navbar/K logo.png" alt="">
							<span>WarungKita</span>
						</div>
						<p>Platform Jual Beli Online di Indonesia</p>
						<p>help@warungkita.com
							<br>(+62) 111 222 333</p>
					</div>

					<div class="menu">
						<div class="beranda">
							<span>Beranda</span>
							<p>Akun</p>
							<p>Notifikasi</p>
							<p>Chat</p>
						</div>

						<div class="tentang">
							<span>Tentang</span>
							<p>Profile</p>
							<p>Karir</p>
							<p>Cara Kerja</p>
						</div>

						<div class="ladu">
							<span>Laman Edukatif</span>
							<p>Artikel</p>
							<p>Berita</p>
						</div>

						<div class="galins">
							<span>Galeri Inspiratif</span>
							<p>Gambar</p>
							<p>Video</p>
						</div>

						<div class="toko">
							<span>Toko</span>
							<p>Produk</p>
							<p>Barang</p>
							<p>Cari</p>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="team">
						<p><span>©</span> <span>WarungKita</span> 2020 Powered by ARCANE Team</p>
					</div>
					
					<div class="bahasa">
						<span>Bahasa</span>
						<img src="assets/images/drop-bottom.png" alt="">
					</div>
					
					<div class="sosmed">
						<svg id="facebook" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path id="Path_2893" data-name="Path 2893" d="M12,0A12,12,0,1,1,0,12,12,12,0,0,1,12,0Z" transform="translate(0 0)" fill="#fff"/>
							<path id="Path_2892" data-name="Path 2892" d="M15.017,12.47H12.876v7.845H9.631V12.47H8.088V9.713H9.631V7.929A3.042,3.042,0,0,1,12.9,4.655l2.4.01V7.341H13.564a.66.66,0,0,0-.688.751V9.715H15.3Z" fill="#306ee7"/>
						</svg>

						<svg id="instagram" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path id="Path_2755" data-name="Path 2755" d="M14.3,12A2.3,2.3,0,1,1,12,9.7,2.3,2.3,0,0,1,14.3,12Zm0,0" fill="#fff"/>
							<path id="Path_2756" data-name="Path 2756" d="M17.372,7.936a2.282,2.282,0,0,0-1.308-1.308,3.812,3.812,0,0,0-1.279-.237c-.727-.033-.945-.04-2.784-.04s-2.058.007-2.784.04a3.815,3.815,0,0,0-1.279.237A2.283,2.283,0,0,0,6.628,7.936a3.814,3.814,0,0,0-.237,1.28c-.033.727-.04.944-.04,2.784s.007,2.058.04,2.784a3.812,3.812,0,0,0,.237,1.279,2.282,2.282,0,0,0,1.308,1.308,3.808,3.808,0,0,0,1.28.237c.727.033.944.04,2.784.04s2.058-.007,2.784-.04a3.808,3.808,0,0,0,1.28-.237,2.282,2.282,0,0,0,1.308-1.308,3.816,3.816,0,0,0,.237-1.279c.033-.727.04-.945.04-2.784s-.007-2.058-.04-2.784a3.808,3.808,0,0,0-.237-1.28ZM12,15.538A3.538,3.538,0,1,1,15.538,12,3.538,3.538,0,0,1,12,15.538Zm3.678-6.39a.827.827,0,1,1,.827-.827A.827.827,0,0,1,15.678,9.149Zm0,0" fill="#fff"/>
							<path id="Path_2757" data-name="Path 2757" d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0Zm6.849,14.841a5.056,5.056,0,0,1-.32,1.673,3.523,3.523,0,0,1-2.015,2.015,5.059,5.059,0,0,1-1.672.32c-.735.034-.97.042-2.841.042s-2.106-.008-2.841-.042a5.059,5.059,0,0,1-1.672-.32,3.523,3.523,0,0,1-2.015-2.015,5.054,5.054,0,0,1-.32-1.672c-.034-.735-.042-.97-.042-2.841s.008-2.106.042-2.841a5.056,5.056,0,0,1,.32-1.673A3.526,3.526,0,0,1,7.486,5.471a5.06,5.06,0,0,1,1.673-.32c.735-.034.97-.042,2.841-.042s2.106.008,2.841.042a5.061,5.061,0,0,1,1.673.32,3.524,3.524,0,0,1,2.015,2.015,5.055,5.055,0,0,1,.32,1.673c.034.735.041.97.041,2.841S18.883,14.106,18.849,14.841Zm0,0" fill="#fff"/>
						</svg>

						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path id="twitter" d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0Zm5.479,9.356q.008.177.008.356A7.783,7.783,0,0,1,9.65,17.549h0a7.8,7.8,0,0,1-4.222-1.237,5.6,5.6,0,0,0,.657.038,5.527,5.527,0,0,0,3.421-1.179,2.757,2.757,0,0,1-2.573-1.913,2.745,2.745,0,0,0,1.244-.047,2.755,2.755,0,0,1-2.21-2.7c0-.012,0-.024,0-.035a2.735,2.735,0,0,0,1.247.344,2.757,2.757,0,0,1-.853-3.677,7.82,7.82,0,0,0,5.677,2.878,2.756,2.756,0,0,1,4.694-2.512,5.525,5.525,0,0,0,1.749-.669,2.765,2.765,0,0,1-1.211,1.523,5.493,5.493,0,0,0,1.582-.434,5.6,5.6,0,0,1-1.374,1.426Zm0,0" fill="#fff"/>
						</svg>
					</div>

				</div>
			</div>
		</footer>
		<!-- end footer -->
			
	</body>
	@!section('component')			
		<script src="assets/js/jquery-3.5.1.js" type="text/javascript"></script>
		<script src="assets/js/jquery.lazy.min.js" type="text/javascript" ></script>
	    <script src="assets/js/slick.min.js" type="text/javascript" ></script>
	
	@!section('js')
		<script src="assets/js/app.js" type="text/javascript" ></script>

	@!section('footer')
		
</html>                     